* {
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

/*       Menu       */

.menu__logo__container {
    height: 60px;
}

.menu__logo {
    display: block;
    margin: 0 auto;
    width: 160px;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    text-align: center;
    justify-content: space-between;
}

.menu__items {
    display: flex;
    margin: 0 auto;
}

.menu__items li a {
    margin-right: 35px;
    color: black;
    font-weight: 500;
}

.menu__items li a:hover, a.active {
  border-bottom: 2px solid black;
}

.menu__btn {
  margin-right: 20px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 60px;
  z-index: 10;
}

@media (max-width: 695px) {
  .menu__btn {
    display: inline-flex;
  }
  .menu__items {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    z-index: 900;
  }
  .menu__items li{
    margin: 50px 0 0 0;
  }
  .menu__items li a:hover, a.active {
    border-bottom: 0;
  }
  .menu__items li a {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  .menu__items li a:hover {
    color: #00bfff;
  }
  li.active {
    background-color: rgba(0, 0, 0, .3);
    padding: 7px 13px;
  }
  a.active {
    border: 0px;
  }
}

/*       Seccion Principal       */

.banner {
    height: 455px;
    background-image: url(../images/bannerHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.banner__titulo {
    text-align: center;
    padding-top: 160px;
    color: white;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 1));
    font-size: 25px;
}

.banner__subTitulo {
    text-align: center;
    color: white;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 1));

}

@media (min-width: 425px){
    .banner__titulo {
        font-size: 28px;
    }
}

@media (min-width: 768px){
    .banner__titulo {
        font-size: 31px;
    }
}

@media (min-width: 1024px){
    .banner__titulo {
        font-size: 33px;
    }
}

@media (min-width: 1440px){
    .banner__titulo {
        font-size: 35px;
    }
}

/*       Contenido de texto       */

.introduccion {
    background-color: #e6e6e6;
}

.introduccion__titulo {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 7px;
}

.introduccion__titulo--globalite {
    color: #00bfff;
}

.introduccion__parrafo {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.introduccion__parrafo--ultimo {
    padding-bottom: 35px;
}

@media (min-width: 425px){
    .introduccion__parrafo {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 768px){
    .introduccion__parrafo {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1024px){
    .introduccion__parrafo {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (min-width: 1024px){
    .introduccion__parrafo {
        padding-left: 150px;
        padding-right: 150px;
    }
}


/*       Coberturas       */

.coberturas__titulo__container {
    width: 130px;
    margin: 0 auto;
}

.coberturas__titulo {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00bfff;
}

.coberturas__img__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 30px;
}

.coberturas__img {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 130px;
}

@media (min-width: 425px){

    .coberturas__titulo {
        margin-bottom: 30px;
    }

    .coberturas__img__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px){

    .coberturas__img__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .coberturas__img {
        width: 160px;
    }
}

/*       Boton arriba       */



/*       Footer       */

.footer {
    background-color: #4d4d4d;
    border-top: 4px solid #00bfff;
    padding: 20px 0 20px 0;
}

.footer__borde {
    width: 300px;
    margin: 0 auto;
}

.footer__telefono {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.footer__email {
    color: white;
    text-align: center;
    margin-top: 5px;
}

.footer__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 160px;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer__map {
    display: none;
    align-items: center;
    text-align: left;
}

.footer__map__items {
    color: white;
    padding: 7px 13px;
}

.footer__map__items:hover {
    background-color: #00bfff;
    border-radius: 3px;
    transition: .4s;
}

@media (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__borde {
        border-right: 2px solid white;
    }

    .footer__map {
        display: flex;
    }
}

@media (min-width: 1024px){
    .footer__map__items {
        margin-right: 30px;
    }
}

@media (min-width: 1440px){
    .footer__map__items {
        margin-right: 70px;
        font-size: 18px;
    }
}