* {
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none; }

/*       Menu       */
.logoMenuContainer {
  height: 60px; }

.logoMenu {
  display: block;
  margin: 0 auto;
  width: 160px; }

.menu {
  display: flex;
  align-items: center;
  height: 60px;
  color: white;
  text-align: center;
  justify-content: space-between; }

.menuItems {
  display: flex;
  margin: 0 auto; }

.menuItems li a {
  margin-right: 35px;
  color: black;
  font-weight: 500; }

.menuItems li a:hover, a.active {
  border-bottom: 2px solid black; }

.menuBtn {
  margin-right: 20px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none; }

ul.show {
  top: 60px;
  z-index: 10; }

@media (max-width: 695px) {
  .menuBtn {
    display: inline-flex; }
  .menuItems {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    z-index: 900; }
  .menuItems li {
    margin: 50px 0 0 0; }
  .menuItems li a:hover, a.active {
    border-bottom: 0; }
  .menuItems li a {
    font-size: 20px;
    color: #fff;
    margin: 0; }
  .menuItems li a:hover {
    color: lightcoral; }
  li.active {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 7px 13px; }
  a.active {
    border: 0px; } }

/*       Seccion Principal       */
.banner {
  height: 455px;
  background-image: url(../images/bannerHome.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

.banner__titulo {
  text-align: center;
  padding-top: 160px;
  color: white;
  filter: drop-shadow(0 4px 3px black);
  font-size: 25px; }

.banner__subTitulo {
  text-align: center;
  color: white;
  filter: drop-shadow(0 4px 3px black); }

@media (min-width: 425px) {
  .banner__titulo {
    font-size: 28px; } }

@media (min-width: 768px) {
  .banner__titulo {
    font-size: 31px; } }

@media (min-width: 1024px) {
  .banner__titulo {
    font-size: 33px; } }

@media (min-width: 1440px) {
  .banner__titulo {
    font-size: 35px; } }

/*       Contenido de texto       */
.introduccion {
  background-color: #e6e6e6; }

.introduccion__titulo {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 7px; }

.introduccion__parrafo {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 15px; }

.introduccion__parrafo--ultimo {
  padding-bottom: 35px; }

@media (min-width: 425px) {
  .introduccion__parrafo {
    padding-left: 40px;
    padding-right: 40px; } }

/*       Imagenes       */
/*       Coberturas       */
.coberturas {
  height: 355px; }

.coberturas__titulo--container {
  width: 130px;
  margin: 0 auto; }

.coberturas__titulo {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #00bfff; }

.coberturas__imagenes {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.coberturas__img {
  margin: 0 auto;
  margin-bottom: 23px;
  width: 130px; }

@media (min-width: 425px) {
  .coberturas {
    height: 250px; }
  .coberturas__titulo {
    margin-bottom: 30px; }
  .coberturas__imagenes {
    grid-template-columns: repeat(2, 1fr); }
  .coberturas__img {
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .coberturas {
    height: 250px; }
  .coberturas__imagenes {
    grid-template-columns: repeat(3, 1fr); }
  .coberturas__img {
    width: 160px;
    margin-bottom: 60px; } }

/*       Boton arriba       */
.go__top--container {
  position: fixed;
  width: 6.6rem;
  height: 6.6rem;
  bottom: 4rem;
  right: 4rem;
  z-index: -1; }

.go__top--button {
  background-color: #00bfff;
  border-radius: 50%;
  height: 0rem;
  width: 0rem;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; }

.go__top--button i {
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transition: .2s; }

.show__button {
  z-index: 10; }

.show__button .go__top--button {
  animation: popup .3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11; }

.show__button i {
  transform: translate(-50%, -50%) scale(1); }

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem; }
  50% {
    width: 8rem;
    height: 8rem; }
  100% {
    width: 6.6rem;
    height: 6.6rem; } }

/*       Footer       */
.footer {
  background-color: #4d4d4d;
  border-top: 4px solid #00bfff;
  padding: 20px 0 20px 0; }

.footer__borde {
  width: 300px;
  margin: 0 auto; }

.footer__telefono {
  color: white;
  text-align: center;
  margin-top: 15px; }

.footer__email {
  color: white;
  text-align: center;
  margin-top: 5px; }

.footer__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 160px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 15px; }

.footer__map {
  display: none;
  align-items: center;
  text-align: left; }

.footer__map__items {
  color: white;
  padding: 7px 13px; }

.footer__map__items:hover {
  background-color: #00bfff;
  border-radius: 3px;
  transition: .4s; }

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .footer__borde {
    border-right: 2px solid white; }
  .footer__map {
    display: flex; } }

@media (min-width: 1024px) {
  .footer__map__items {
    margin-right: 30px; } }

@media (min-width: 1440px) {
  .footer__map__items {
    margin-right: 70px;
    font-size: 18px; } }
