* {
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*       Menu       */

.menu__logo__container {
    height: 60px;
}

.menu__logo {
    display: block;
    margin: 0 auto;
    width: 160px;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
    color: white;
    text-align: center;
    justify-content: space-between;
}

.menu__items {
    display: flex;
    margin: 0 auto;
}

.menu__items li a {
    margin-right: 35px;
    color: black;
    font-weight: 500;
}

.menu__items li a:hover, a.active {
  border-bottom: 2px solid black;
}

.menu__btn {
  margin-right: 20px;
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 60px;
  z-index: 10;
}

@media (max-width: 695px) {
  .menu__btn {
    display: inline-flex;
  }
  .menu__items {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
    z-index: 900;
  }
  .menu__items li{
    margin: 50px 0 0 0;
  }
  .menu__items li a:hover, a.active {
    border-bottom: 0;
  }
  .menu__items li a {
    font-size: 20px;
    color: #fff;
    margin: 0;
  }
  .menu__items li a:hover {
    color: #ff0080;
  }
  li.active {
    background-color: rgba(0, 0, 0, .3);
    padding: 7px 13px;
  }
  a.active {
    border: 0px;
  }
}

/*       Servicios       */

.banner__container {
  background-image: url(../images/bannerServicios.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  margin-bottom: 15px;
}

.titulo__kinesio {
  color: white;
  font-size: 26px;
  padding-top: 105px;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 1));
}

.centrado {
  text-align: center;
}

.margenTitulo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.borde {
  border-bottom: 2px solid #ff0080;
}

.titulosContainer {
  width: 110px;
  margin: 0 auto;
}

@media (min-width: 425px){
    .titulo__kinesio {
        font-size: 28px;
    }
}

@media (min-width: 768px){
    .titulo__kinesio {
        font-size: 31px;
    }
}

@media (min-width: 1024px){
    .titulo__kinesio {
        font-size: 33px;
    }
}

@media (min-width: 1440px){
    .titulo__kinesio {
        font-size: 35px;
    }
}

/*       Texto       */

.margenParrafo {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.punto {
  color: #ff0080;
}

.kinesioDep {
  background-color: #e6e6e6;
  padding: 15px 0 20px 0;
}

.tecLes__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}

@media(min-width: 425px){
  .margenParrafo {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(min-width: 768px){
  .margenParrafo {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media(min-width: 1024px){
  .margenParrafo {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media(min-width: 1440px){
  .margenParrafo {
    padding-left: 150px;
    padding-right: 150px;
  }
}

/*       Footer       */

.footer {
    background-color: #4d4d4d;
    border-top: 4px solid #ff0080;
    padding: 20px 0 20px 0;
}

.footer__borde {
    width: 300px;
    margin: 0 auto;
}

.footer__telefono {
    color: white;
    text-align: center;
    margin-top: 15px;
}

.footer__email {
    color: white;
    text-align: center;
    margin-top: 5px;
}

.footer__icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 160px;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 15px;
}

.footer__map {
    display: none;
    align-items: center;
    text-align: left;
}

.footer__map__items {
    color: white;
    padding: 7px 13px;
}

.footer__map__items:hover {
    background-color: #ff0080;
    border-radius: 3px;
    transition: .4s;
}

@media (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__borde {
        border-right: 2px solid white;
    }

    .footer__map {
        display: flex;
    }
}

@media (min-width: 1024px){
    .footer__map__items {
        margin-right: 30px;
    }
}

@media (min-width: 1440px){
    .footer__map__items {
        margin-right: 70px;
        font-size: 18px;
    }
}




